body{
	font-family: Arial;
	background-color: white;
	padding: 0px;
	margin: 0px;
}

div.header{
	background-color: white;
	height: 100px;
	display:block;
}

div.container{
	width: 75%;
	background-color: lightgray;
	height: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	padding:25px;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e60000;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 50px
}

li a:hover {
    background-color: #b30000;
}

h1{
	margin: 0px;
	padding: 25px;
}

p{
	margin-left: 25px;
	font-size: 18px;
}

div.copyright{
	width: auto;
	background-color: #e60000;
	width: 100%;
}

p.copyright{
	color: white;
	font-weight: bold;
	padding: 20px;
	text-align: center;
	margin: 0px;
}

img.reclame{
	float: right;
	padding: 25px;
	width: 175px;
}